<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.7">
        <title>Server Overview | Node Server Manager</title>
        <meta property="og:title" content="Server Overview | Node Server Manager">
        <meta property="og:type" content="website">
        <meta property="og:description" content="Node Server Manager is a administration tool for Plutonium IW5">
        <meta name="description" content="Node Server Manager is a administration tool for Plutonium IW5">
        <meta name="keywords" content="IW4MAdmin, IW5, Plutonium, T6, NodeJs, server, administration, IW4x, MW2, Modern Warfare 3">
        <script type='text/javascript' src='/js/global.js'></script>
        <script type='text/javascript' src='/js/main.js'></script>
        <script type='text/javascript' src='/js/font-awesome.js'></script>
        <link rel='stylesheet' type='text/css' href='css/global.css'></link>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script src="/js/moment-with-locales.js" type="text/javascript"></script>
        <script src="/js/moment-timezone-with-data-10-year-range.js" type="text/javascript"></script>
    </head>
    <body>
        <%- header %>
        <div id='wf-serverlist-mount' class='wf-serverlist'>

        </div>
    </body>
</html>