<html>
    <head>
        <script type='text/javascript' src='/js/main.js'></script>
        <script type='text/javascript' src='/js/login.js'></script>
        <script type='text/javascript' src='/js/font-awesome.js'></script>
        <link rel='stylesheet' type='text/css' href='css/global.css'></link>
    </head>
    <body>
        <div id='wf-header'>
            <div class='wf-header-right'>
                <a href='/' class='wf-header-title'>NODE SERVER MANAGER</a>
                <a href='/' class='wf-header-link'>Home</a>
                <a href='/chat' class='wf-header-link'>Chat</a>
                <a href='/stats' class='wf-header-link'>Stats</a>
                <a href='/login' class='wf-header-link'>Login</a>
            </div>
            <div class='wf-header-right'>
                <div class='wf-header-search-wrap'>
                    <div class='wf-header-search' id='client-search' data-placeholder='Search player...' contenteditable="true"></div>
                </div>
            </div>
        </div>
    </body>
</html>